$small-screen: 500px;
$red: #E91010;
$orange: #FF9E1E;
$green: #0AD54B;

.widget {
    width: 450px;
    height: 135px;
    margin: 15px;
    padding: 20px 5px;

    &.red {
        border-left: 4px solid $red;
    }
    &.orange {
        border-left: 4px solid $orange;
    }
    &.green {
        border-left: 4px solid $green;
    }

    .widget-header {
      height: auto !important;
      display: flex;
      align-items: center;

      @media screen and (max-width: $small-screen) {
          padding: 5px !important;
      }

      .widget-iconmenu {
          position: absolute !important;
          right: 0;
      }
    }

    @media screen and (max-width: $small-screen) {
        height: auto;
        padding: 5px 0;
    }

    .widget-title {
        font-size: 26px;

        @media screen and (max-width: $small-screen) {
            font-size: 14px;
        }
    }

    .widget-subtitle {
        font-size: 24px;

        @media screen and (max-width: $small-screen) {
            font-size: 14px;
        }
    }
}
